body { font-size: 14px; margin: 0; padding: 0; }
img { border: 0; }
blockquote, p, div, blockquote p { font-size: 14px; font-weight: normal; }
.divCaption { margin: 0 0 5px 0; background-color: #f1f1ff; }
    .divCaption a.goHome{float:right;padding-top:25px;display:block;width:30px;text-align:right;}
        .divCaption a.goHome img { height:15px; }
    .divCaption h2 { font-weight: bold; color: #9099CE; }
.nav-tabs > li > a { color: #aac; font-size: 12px; }
.nav > li > a:hover { background-color: #ddf; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover { color: #889; }
