body { font-size: 17.5px;margin:0;padding:0; }
img { border: 0; }
.divCaption {padding:10px; margin: 0 0 10px 0; background-color: #f1f1ff; }
.divCaption img{width:90;vertical-align:middle;margin-right:15px;}
.divCaption h2{display:inline;font-weight: bold; color: #9099CE;}
.divScreenShots { text-align: center; font-size: 8pt; color: #556; max-width: 300px; }
.screenShot { cursor: pointer; margin: 10px 0 0 0; width: 100%; display: block; }
.divList { margin: 20px; }
